openapi: 3.0.3
info:
  title: Vega Galaxy Portal API
  description: |
    Read-only API for the Synozur Galaxy customer portal. Every request must
    present a Galaxy-issued OAuth 2.0 / OIDC bearer token. Vega resolves the
    token's `client_id` claim to a Vega tenant and returns only that tenant's
    data, scoped to the resolved Galaxy user.
  version: 1.0.0
servers:
  - url: https://vega.synozur.com
    description: Production
  - url: http://localhost:5000
    description: Local dev
security:
  - GalaxyBearer: []
components:
  securitySchemes:
    GalaxyBearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Galaxy-issued JWT. Vega validates `iss`, `aud`, and the RS256
        signature against the Galaxy JWKS, then resolves the `client_id`
        claim to a Vega tenant via the tenant's `galaxyClientId` setting.
  schemas:
    PortalMe:
      type: object
      properties:
        id: { type: string }
        email: { type: string }
        name: { type: string, nullable: true }
        role:
          type: string
          enum: [portal_user, portal_user_writer]
          description: |
            `portal_user` is read-only. `portal_user_writer` may also create
            and edit (within 30 minutes) check-ins on owned entities.
        authProvider: { type: string, example: galaxy }
        galaxyUserId: { type: string, nullable: true }
        tenant:
          type: object
          properties:
            id: { type: string }
            name: { type: string }
            color: { type: string, nullable: true }
    Dashboard:
      type: object
      properties:
        activeObjectivesCount: { type: integer }
        activeKeyResultsCount: { type: integer }
        activeBigRocksCount: { type: integer }
        onTrackCount: { type: integer }
        atRiskCount: { type: integer }
        upcomingCheckInsCount: { type: integer }
        recentActivity:
          type: array
          items: { $ref: '#/components/schemas/ActivityItem' }
    ActivityItem:
      type: object
      properties:
        id: { type: string }
        type: { type: string, example: check-in }
        entityType: { type: string, nullable: true }
        entityId: { type: string, nullable: true }
        progress: { type: number, nullable: true }
        status: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        createdAt: { type: string, format: date-time, nullable: true }
        createdBy: { type: string, nullable: true }
    Objective:
      type: object
      additionalProperties: true
    KeyResult:
      type: object
      additionalProperties: true
    BigRock:
      type: object
      additionalProperties: true
    Ambition:
      type: object
      additionalProperties: true
    CheckIn:
      type: object
      additionalProperties: true
    Error:
      type: object
      properties:
        error: { type: string }
        error_description: { type: string }
paths:
  /api/portal/me:
    get:
      summary: Identity, tenant, and role of the authenticated portal user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PortalMe' }
        '401': { description: Invalid or missing Galaxy token, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '429': { description: Per-tenant rate limit exceeded }
  /api/portal/dashboard:
    get:
      summary: Personalized dashboard summary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Dashboard' }
        '401': { description: Unauthorized }
  /api/portal/objectives:
    get:
      summary: Objectives owned by the authenticated portal user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Objective' }
  /api/portal/objectives/{id}:
    get:
      summary: Single objective (must be owned by the authenticated user)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Objective' } } } }
        '404': { description: Not found or not owned }
  /api/portal/key-results:
    get:
      summary: Key results owned by the authenticated portal user
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/KeyResult' } } } } }
  /api/portal/key-results/{id}:
    get:
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/KeyResult' } } } }
        '404': { description: Not found or not owned }
  /api/portal/big-rocks:
    get:
      summary: Big rocks owned by the authenticated portal user
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/BigRock' } } } } }
  /api/portal/big-rocks/{id}:
    get:
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/BigRock' } } } }
        '404': { description: Not found or not owned }
  /api/portal/ambitions:
    get:
      summary: Ambitions defined for the tenant's foundation
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/Ambition' } } } } }
  /api/portal/check-ins:
    get:
      summary: Check-ins authored by or relevant to the authenticated user
      parameters:
        - name: since
          in: query
          required: false
          schema: { type: string, format: date-time }
      responses:
        '200': { description: OK, content: { application/json: { schema: { type: array, items: { $ref: '#/components/schemas/CheckIn' } } } } }
    post:
      summary: Create a check-in (requires `portal_user_writer` role)
      description: |
        Creates a check-in on an objective, key result, or big rock that the
        authenticated portal user owns. Closed entities (or entities with a
        closed parent objective) are rejected with `403 entity_closed`.
        Cross-tenant or non-owned `entityId` values return `403 forbidden`.
        Successful check-ins are recorded with `source = "galaxy_portal"` and
        also update the parent entity's progress and progress snapshot.
        Subject to a separate write rate limit (default 60/min, configurable
        via `PORTAL_WRITE_RATE_LIMIT_PER_MINUTE`).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entityType, entityId]
              properties:
                entityType: { type: string, enum: [objective, key_result, big_rock] }
                entityId: { type: string }
                progress:
                  type: number
                  minimum: 0
                  maximum: 100
                  description: New progress value 0-100. Defaults to the entity's current progress if omitted.
                status:
                  type: string
                  enum: [on_track, at_risk, behind, completed, blocked]
                  description: New status. `completed` on objective/big_rock auto-bumps progress to 100.
                note: { type: string }
                confidence:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: Optional 0-100 confidence signal. Accepted for forward-compat; not yet persisted.
                asOfDate: { type: string, format: date-time }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/CheckIn' } } } }
        '400': { description: Validation error }
        '403': { description: Forbidden / writer role required / entity closed / cross-tenant }
        '429': { description: Per-tenant write rate limit exceeded }
  /api/portal/check-ins/{id}:
    patch:
      summary: Edit a check-in within 30 minutes of creation (writer role, author only)
      description: |
        Edits the author's own check-in. Only allowed within 30 minutes of the
        original `createdAt` and only on the original author's records.
        Re-validates entity ownership and closed status; mirrors the side
        effects of POST (entity progress + snapshot recapture). All fields
        are optional — note-only or status-only edits are supported.
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                progress: { type: number, minimum: 0, maximum: 100 }
                status: { type: string, enum: [on_track, at_risk, behind, completed, blocked] }
                note: { type: string }
                confidence: { type: integer, minimum: 0, maximum: 100 }
                asOfDate: { type: string, format: date-time }
      responses:
        '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/CheckIn' } } } }
        '403': { description: Not author / edit window expired / entity closed }
        '404': { description: Check-in not found in this tenant }
        '429': { description: Per-tenant write rate limit exceeded }
